<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="ionic-title" class='dgreen'>
        <a class='header-title dgreen' href="/tabs/home">BOOKME</a>
        <a class='float-right' href="/tabs/account">
            <ion-icon class='dgreen' name="person-outline"></ion-icon>
        </a>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
        <ion-tab-button tab="search">
            <ion-icon class='dgreen' name="search-outline"></ion-icon>
            <ion-label class='dgreen'>Rechercher</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="library">
            <ion-icon class='dgreen' name="library-outline"></ion-icon>
            <ion-label class='dgreen'>Bibliothèque</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="donations">
            <ion-icon class='dgreen' name="gift"></ion-icon>
            <ion-label class='dgreen'>Dons</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
