.cover {
    height: 200px;
    margin: 10px 0;
}

.book-icon{
    margin-right: 10px;
}

.dgreen {
    color: rgba(0, 0, 0, 0.7);
}

body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}